@import "variables.css";
@import "fonts.css";
@import "rich-text.css";
@import "small-basic-rich-text.css";
@import "custom-checkbox-label.css";

*:focus {
  outline-color: var(--primary);
  outline-offset: 2px;
}

input:focus, textarea:focus {
  outline-offset: 0;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  opacity: .6;
  cursor: pointer;
  background:
    linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#292F34 45%,#292F34 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
    linear-gradient(135deg, transparent 0%,transparent 43%,#292F34 45%,#292F34 55%,transparent 57%,transparent 100%);
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-and-slide-up-on-render {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  animation-name: fade-in;
  animation-duration: .4s;
}

.fade-and-slide-up-on-render {
  animation-name: fade-and-slide-up-on-render;
  animation-duration: .5s;
}

@tailwind base;
@tailwind components;
@tailwind utilities;