.rich-text {
  @apply text-lg text-neutral-400 leading-[1.6];
}

.rich-text > div > * + * {
  @apply mt-4
}

.rich-text > span > * + * {
  @apply mt-4
}

.rich-text h2 {
  @apply text-xl leading-tight mt-8 text-neutral-700;
}

.rich-text h3 {
  @apply mt-6 text-neutral-700;
}

.rich-text strong {
  background: var(--teal-100);
  color: var(--teal-400);
  padding: 1px 4px;
}

.rich-text a {
  color: inherit;
  display: inline-block;
  position: relative;
  transition: 0.3s color ease-in-out;
}

.rich-text a:after {
  transition: 0.3s width ease-in-out;
  background: var(--neutral-300);
  display: block;
  content: ' ';
  position: absolute;
  bottom: 2px;
  left: 50%;
  height: 1px;
  width: calc(100% + 5px);
  transform: translateX(-50%);
}


.rich-text a:hover {
  color: var(--teal-300);
}

.rich-text a:hover:after {
  background: var(--teal-500);
  width: calc(100%);
}
